@font-face {
    font-family: 'Iran Sans';
    src: url("/fonts/IRANSans Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('/fonts/yekan-bakh/Yekan Bakh EN 03 Light.woff') format('woff'),
    url('/fonts/yekan-bakh/Yekan Bakh EN 03 Light.eot') format('embedded-opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.yk {
    font-family: 'Yekan Bakh', 'Nunito', sans-serif;
}

.yk-m {
    font-family: 'Yekan Bakh', 'Nunito', sans-serif;
}

.yk-b {
    font-family: 'Yekan Bakh', 'Nunito', sans-serif;
}

.ir-sns {
    font-family: 'IRANSans', 'Nunito', sans-serif;
}

body {
    font-family: 'Yekan Bakh', 'Nunito', sans-serif;
    font-size: .79rem;
    background-color: #F7F5EB;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    padding: 100px 0 0;
    background-color: #3A3845;
    color: #F7CCAC;
    box-shadow: -1px -2px 400px -38px rgba(38, 37, 37, 0.75) inset;
    -webkit-box-shadow: -1px -2px 400px -38px rgba(38, 37, 37, 0.75) inset;
    -moz-box-shadow: -1px -2px 400px -38px rgba(38, 37, 37, 0.75) inset;
    /*width: 150px;*/
}

.sidebar li a {
    color: #FFFFFF !important;
}

ul.nav {
    padding-inline-start: 0;
}

ul.nav li.nav-item {
    margin-bottom: 5px;
}

ul.nav li.nav-item a {
    color: black;
}


[role="main"] {
    padding-top: 150px;
}

@media (max-width: 767.98px) {

}

header nav.navbar {
    background-color: #3A3845 !important;
}

.sidebar ul li em {
    color: #F29224;
}


.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.login-form-box {
    padding: 40px;
    border-radius: 10px;
    background-color: white;

}

.login-form-box label {
    font-size: 15px;
}

.form-check-input {
    position: absolute;
}

.form-control::placeholder {
    font-size: 12px;
}


.login-wrapper {
    background: linear-gradient(160deg, rgba(2, 0, 36, 0.7609418767507002) 0%, rgba(82, 104, 151, 0.8813900560224089) 47%, rgba(162, 175, 179, 1) 96%);
}

.login-wrapper button.btn-warning {
    background-color: #F29224;
    color: white;
}


nav#sidebar li.nav-item {
    transition: all 400ms;
}

nav#sidebar li.nav-item:hover {
    -webkit-box-shadow: inset 0px 0px 32px 42px rgba(171, 179, 255, 0.47);
    box-shadow: inset 0px 0px 32px 42px rgba(171, 179, 255, 0.47);
}

nav#sidebar li.nav-item.active {
    -webkit-box-shadow: inset 0px 0px 32px 42px rgba(171, 179, 255, 0.47);
    box-shadow: inset 0px 0px 32px 42px rgba(171, 179, 255, 0.47);
}


.panel {
    padding: 30px 20px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px
}

ul.pagination {
    padding-inline-start: 0;
}


.loading-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    z-index: 100000;
    background-color: white;
    color: #F29224;
}

.loading-wrapper .spinner-border {
    width: 4rem;
    height: 4rem;
}

.directive-loading-parent {
    position: relative;
    z-index: 0;
}

.directive-loading-parent:hover {
}


.directive-loading-wrapper {
    position: absolute;
    z-index: 2000;
    background-color: hsla(0, 30%, 95%, 0.5);
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .3s;
}

.directive-loading-wrapper .spinner-border {
    /* margin-top: -21px; */
    /* width: 100%; */
    /* text-align: center; */
    position: absolute;
    font-size: 15px !important;
    font-weight: normal !important;
    color: #ef8c1a !important;
    top: 50%;
}

.directive-loading-wrapper #Test {
    display: flex;
    align-items: center;
    /* width: 50%; */
    justify-content: center;
}

.btn.btn-primary {
    background-color: #F29224;
    border: none;
    color: white;
}

.btn.btn-primary:focus {
    box-shadow: none;
}

.form-label.required::after,
.form-check-label.required::after {
    content: "*";
    color: red
}
